{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
                <th>Process</th>
            </tr>
        </thead>
        <tbody>
            {%for i in data%}
                <tr>
                    <td>{{i["symbol"]}}</td>
                    <td>{{i["share"]}}</td>
                    <td>{{i["price"]}}</td>
                    <td>{{i["datetime"]}}</td>
                    <td>{{i["process"]}}</td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
{% endblock %}
